.Container {
  background-image: url(https://images.unsplash.com/photo-1600075012737-2a2ffd7c1156?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=867&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.input-c {
  color: #eaeaea;
  padding: 10% 15%;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

textarea {
  font-size: 24px;
  height: 252px;
  width: 1054px;
  resize: none;
  border-radius: 5px;
  border-color: #eaeaea;
  border-color: transparent;
}

textarea::-webkit-input-placeholder {
  font-size: 24px;
  line-height: 1;
}
textarea:hover {
  border-color: transparent;
}

.btn-A {
  padding: 10px 50px;
  border-color: transparent;
  background-color: transparent;
  color: #eaeaea;
  font-size: larger;
  font-weight: bolder;
  font-family: monospace;
}
