.signin-container {
  width: 100%;
  color: white;
  background-image: url(https://images.unsplash.com/photo-1621414426861-803267187e72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16px 20px;
  padding-bottom: 277px;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
.form-signin {
  border: 1px thin solid;
  background-color: transparent;
  margin-top: 0;
  margin-left: 41%;
  margin-right: 42%;
  padding: 10px 20px;
}

.btn-1 {
  color: white;
  background-color: black;
  padding: 7px 20px;
  border-radius: 15px;
  border-color: transparent;
}

input {
  border-color: transparent;
}
input:hover {
  border-color: transparent;
}
input:focus {
  outline: none;
}

.signin-google {
  margin-left: 46%;
  padding: 7px;
}
